[Unit]
Description=Fetch SWM capacity
Documentation=https://github.com/SlashDashAndCash/swmcapacity

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
ExecStartPre=/bin/rm -f %t/container-swmcapacity.pid %t/container-swmcapacity.ctr-id
ExecStart=/usr/bin/podman run -e PG_USER=swmcapacity -v /var/run/postgresql:/var/run/postgresql --conmon-pidfile %t/container-swmcapacity.pid --cidfile %t/container-swmcapacity.ctr-id --cgroups=no-conmon -it --replace --name swmcapacity swmcapacity:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-swmcapacity.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-swmcapacity.ctr-id
PIDFile=%t/container-swmcapacity.pid
Type=oneshot

