[Unit]
Description=Fetch SWM capacity
Documentation=https://github.com/SlashDashAndCash/swmcapacity

[Timer]
# DayOfWeek Year-Month-Day Hour:Minute:Second
OnCalendar=*-*-* 7..22:4,19,34,49:00
Persistent=true

[Install]
WantedBy=timers.target
