[Unit]
Description=Fetch SWM capacity
Documentation=https://github.com/SlashDashAndCash/swmcapacity

[Service]
#Environment=PG_DBNAME=
#Environment=PG_HOST=
#Environment=PG_USER=
#Environment=PG_PASSWORD=
ExecStart=/usr/bin/ruby /home/swmcapacity/swmcapacity/swmcapacity.rb
Type=oneshot

